.poke-modal {
  position: fixed;
  z-index: 9999;

  .overlay {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    z-index: 4;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    width: 900px;

    border-radius: 15px;
    background: #f6f7f9;

    .close-modal {
      cursor: pointer;
      z-index: 5;
      position: absolute;
      top: 15px;
      right: 15px;

      background: none;
      border: none;

      img {
        height: 30px;
        width: 30px;
        transition: all, 0.15s ease-in-out;
      }

      &:hover img {
        transition: all, 0.15s ease-in-out;
        transform: scale(1.5);
      }
    }

    .type-poke {
      cursor: pointer;
      z-index: 5;
      position: absolute;
      top: 0;
      left: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      background: #303030;

      font-family: Karla;
      font-weight: bold;
      font-size: 20px;
      color: #fff;
      border-radius: 0 0 15px 15px;
    }

    .poke-left {
      position: relative;
      width: 60%;
      height: 100%;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h3 {
        margin-bottom: 20px;
        font-family: Karla;
        font-weight: bold;
        font-size: 26px;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .poke-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        margin-bottom: 20px;

        p {
          width: 100px;
          margin-bottom: 20px;
          font-family: Karla;
          font-size: 18px;

          border-radius: 15px;
          color: #fff;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }

      .poke-attack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;

        h5 {
          margin-bottom: 20px;
          font-family: Karla;
          font-size: 18px;
        }

        .attacks {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          p {
            width: 150px;
            margin-bottom: 20px;
            font-family: Karla;
            font-size: 18px;

            border-radius: 15px;
            color: #fff;

            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }

      .poke-stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        h5 {
          margin-bottom: 20px;
          font-family: Karla;
          font-size: 18px;
        }

        .all-stats {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

          .stats {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            border-radius: 15px;
            background: #303030;
            color: #fff;

            p {
              font-family: Karla;
              font-size: 14px;

              border-radius: 15px;
              color: #fff;

              &::first-letter {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    .poke-right {
      overflow: hidden;
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      img {
        height: 90%;
        width: 90%;
        opacity: 90%;
      }
    }
  }
}
